# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Data & models (versionados via DVC, não via git)
/data/raw/*
/data/processed/*
/models/*.pt
/models/*.pth
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/models/.gitkeep

# MLflow
mlruns/
mlartifacts/

# DVC
.dvc/cache
.dvc/tmp

# Env
.env
!.env.example

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
